<h1>Your booking</h1>

<% flight = Flight.find(@booking.flight_id) %> 

<h2>Flight</h2>
<p><%="Flight ID: #{flight.id} | Track: #{flight.arrival.code} - #{flight.departure.code}
 | Departure date: #{(flight.date).strftime("%m/%d/%Y at %I:%M %p")} 
 | Flight duration: #{flight.duration.strftime("%I:%M h")}" %></p>

<h2>Passengers</h2>

<% @booking.passengers.each do |passenger| %>
    <p><%= "Name: #{passenger.name} | Email: #{passenger.email}" %></p>
<% end %>

<%= button_to "Generate ticket" %>